.bg {
    background-color: black;
    background-image: url(../images/cooper-murph-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    color: rgb(255, 252, 238);
}

p {
    text-shadow: black 2px 2px 32px;
}

span {
    color: rgb(204, 71, 0);
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 50px 45vh repeat(4, auto) 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mobile"
        "header"
        "empty-row"
        "p1"
        "card1"
        "card2"
        "p2"
        "footer";
    min-height: 100vh;
    gap: .2rem;
}

.menu-mobile {
    grid-area: mobile;
}

.header {
    grid-area: header;
    user-select: none;
    text-shadow: black 2px 2px 8px;
}

.empty-row {
    grid-area: empty-row;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    padding: 2px;
    background-color: rgb(192, 67, 1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.card1 {
    grid-area: card1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 16px;
    width: 85vw;
    align-items: center;
}

.card2 {
    grid-area: card2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 16px;
    width: 85vw;
    align-items: center;
}

.p1 {
    grid-area: p1;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    display: flex;
    text-align: justify;
    width: 85%;
    align-items: center;
    justify-self: center;
    font-size: 1.2rem;
    word-spacing: .2rem;
    font-family: 'BebasNeue-Regular';
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.p2 {
    grid-area: p2;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    display: flex;
    text-align: justify;
    width: 85%;
    align-items: center;
    justify-self: center;
    font-size: 1.2rem;
    word-spacing: .2rem;
    font-family: 'BebasNeue-Regular';
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: .8rem;
    align-items: center;
    padding: 4px;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(5px);
    user-select: none;
}

@media (min-width: 850px) {
    .grid-container {
        display: grid;
        overflow-x: hidden;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px 45vh repeat(2, auto) 30px;
        grid-template-areas:
            "nav nav"
            "header header"
            "empty-row empty-row"
            "p1 card1"
            "p2 card2"
            "footer footer";
        min-height: 100vh;
        gap: .2rem;
        overflow-y: auto;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/9;
        min-height: 150px;
    }

    .header {
        display: flex;
        text-align: center;
        align-items: center;
        text-shadow: black 2px 2px 8px;
        height: 70px;
    }

    .empty-row {
        grid-area: empty-row;
        height: 70vh;
    }

    p {
        font-size: 20rem;
    }

    .p1 {
        grid-area: p1;
        background-color: rgba(128, 128, 128, 0.205);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        padding: 20px;
        height: fit-content;
        margin: auto;
    }

    .p2 {
        grid-area: p2;
        background-color: rgba(128, 128, 128, 0.205);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        padding: 20px;
        margin-top: 16px;
        height: fit-content;
        margin: auto;
    }
    .card1,
    .card2 {
        display: grid;
        margin-top: .7rem;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: minmax(200px, 1fr);
        gap: 16px;
        align-items: center;
        width: 100%;
        margin-right: 2rem;
    }

    .nav-container {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-self: right;
        margin: 2rem 2rem 0 0;
    }

    #footer {
        font-size: .8rem;
        align-self: end;
    }
}